In [1]:
# M4_Missing_data.ipynb
# 17 Jun 2025
# How to handle missing data

In [6]:
import pandas as pd
import numpy as np

# Generate data
df = pd.DataFrame({'grades': [78, 95, 83, np.nan, 88, 91, np.nan, 76, 82]})
# Replace missing values with mean
df.fillna(df.mean(), inplace=True)
df

      grades
0  78.000000
1  95.000000
2  83.000000
3  84.714286
4  88.000000
5  91.000000
6  84.714286
7  76.000000
8  82.000000